@font-face {
    font-family: Product Sans;
    src: url(./font/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(./font/Product\ Sans\ Bold.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Product Sans;
}

head,body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}
#main{
    width: 100%;
    height: 100vh;
    background: rgba(245, 164, 14, 0.895);
}
nav{
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0vw 8vw;
    justify-content: space-between;
    z-index: 99;

}
nav a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}
.center-nav{
    display: flex;
    gap: 4vw;
}
nav i{
    font-size: 2vw;
    color: white;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(160deg, rgba(246, 126, 13, 0.885) ,rgba(251, 70, 10, 0.847));
}
.one h1{
    font-size: 23vw;
    font-family: Product Sans B;
    color: white;
}
#fanta{
    position: absolute;
    width: 30%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#cut-orange{
    width: 20%;
    position: absolute;
    top: 3%;
    left: 33%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#orange{
    position: absolute;
    width: 18%;
    z-index: 3;
    top: 55%;
    left: 47%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.two{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

#leaf{
    position: absolute;
    width: 300px;
    top: 20%;
    left: 3%;
    transform: rotate(350deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#leaf2{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 38%;
    transform: rotate(270deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#leaf3{
    position: absolute;
    width: 400px;
    top: -7%;
    right: 0%;  
}
#leaf4{
    position: absolute;
    width: 300px;
    top: 55%;
    right:2% ;
    transform: rotate(180deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background:#4d231c ;
}

.left-two,.right-two{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    width: 50%;
    height: 100%;  
}
.left-two svg{
    width: 99%;
    margin-top: 40vh;
    transform: rotateX(35deg);
}
.right-two h1{
    color: white;
    font-size: 5vw;
}
.right-two p{
    font-size: 18px;
    color: white;
    width: 78%;
}
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background: #4d231c;
}
.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 22vw;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 30px;
    background-color: aliceblue;
}
.card:nth-child(1){
    background-color: #00A74A;
}
.card:nth-child(2){
    background-color: #FDC10F;
}
.card:nth-child(3){
    background-color: #000000;
    color: white;
}
.card h1{
    margin-top: 50vh;
    font-size: 2.5vw;
}
.card button{
    width: 15vw;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border-radius: 50px;
    border: none;
    background:white;
    color: black;
}
#sprite{
    position: absolute;
    width: 35vh;
    top: -10%;
    left: 50%;
    transform: translate(-50%,0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
/* #fanta1{
    position: absolute;
    width: 59vh;
    top: 11%;
} */
#coca-cola{
    position: absolute;
    width: 34vh;
    top: -10%;
    right: 50%;
    transform: translate(50%,0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.lemon1{
    position: absolute;
    width: 32vw;
    top: -22vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.lemon2{
    position: absolute;
    width: 32vw;
    top: -22vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}